.s{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container-personas{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background:#F4F6F4 ;
	width: 1006px;
    height: 346px;
    border-radius: 30px;
    margin-top: 20px;
    align-items: center;
}
.personas{
	/*position: absolute;
	left: 85px;*/
	bottom: 79px;
	height: 224px;
    width: 224px;
    border-radius: 0px;

	
}

.personas h5{
	height: 19px;
	width: 226px;
	border-radius: nullpx;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #000000;


}
.foto-img{
	width: 224px;
    height: 224px;
	border-radius: 50%;
	border: 1px solid #000000;
    box-sizing: border-box;
}
.personas-info{
	height: 184px;
    width: 572px;
    border-radius: nullpx;

}
h4{
    width: 521px;
    height: 28px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 21.5474px;
	line-height: 25px;
	text-align: center;
	text-decoration-line: underline;
	color: #CCCC33 !important;
}
p{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 25px;
	text-align: justify;
	color: #000000 ;
}
.btn{
	width: 105px;
	height: 42px;
	background:#00CC66 !important; 
	border-radius: 50px !important;
	font-family: Roboto !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 18px !important;
	line-height: 21px !important;
	text-align: center !important;
	color: #000000 !important;
}
/*rsponsive*/

@media (max-width: 576px){
	.s{
		display: flex;
        flex-wrap: wrap;
		height: 2500px;
	}
	.container-personas{
		display: flex;
		height: 600px;
	    justify-content: center;
        margin-left: 10px;
   
    }
.personas{
	height: 200px;

	
}
.personas-info{
	width: 370px;
	height: 320px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	
}
h4{
	font-size: 1px;
}
p{
	padding: 10px;
	font-size: 1px;
}

}

@media (min-width: 576px) and (max-width: 768px){
    .s{
    	display: flex;
    	height: 2000px;

    }
    .container-personas{
		display: flex;
		flex-wrap: nowrap;
	    justify-content: space-evenly;
        width: 713px;
       
   
    }
    .personas-info{
    	display: flex;
    	justify-content: stretch;
    	flex-wrap: wrap;
    	height: 345px;
    	width: 350px;
    	padding: 10px;	
	}
	.btn{
		position: relative;
		left: 220px;

	}
	.personas h5{
		position: relative;
		top: 21px;
	}
 
}
@media (min-width: 768px) and (max-width: 992px){
	
    .container-personas{
		display: flex;
		flex-wrap: nowrap;
	    justify-content: space-between;
        width: 813px;
        height: 300px;
        padding: 10px;

       
   
    }
    .personas-info{
    	display: flex;
    	justify-content: space-around;
    	flex-wrap: wrap;
    	height: 292px;
    	width: 550px;
    	padding: 10px;	
	}
	.btn{
		position: relative;
		left: 220px;
	}
	.personas h5{
		position: relative;
		top: 21px;
	}
}
@media (min-width: 992px) and (max-width: 1200px){

      .container-personas{
		display: flex;
	    justify-content: space-evenly;
        align-items: center;
   
    }

     .personas-info{
    	display: flex;
    	flex-wrap: wrap;
    	padding: 10px;	
	}
	.btn{
		position: relative;
		left: 500px;
		top: 50px;
	}
	.personas h5{
		position: relative;
		top: 21px;
	}
}
@media (min-width: 1200px)and (max-width: 1400px){
    .personas h5{
		position: relative;
		top: 21px;
	}
	.btn{
		position: relative;
		left: 500px;
		top: 70px;
		border-radius: 50px;
	}
}



















