.infoheader {
    background-color: #12963C;
    display: flex;
    justify-content: center;
    height: 3rem;
    align-items: center;
}

.infoheader div {
    margin: 0 5px;
    color: white;
    font-weight: bold;
}

#navbarNavDropdown {
    justify-content: flex-end;
}

.nav-link {
    color: white !important;
}

.nav-item:hover {
    background-color: #00cc66;
    border-radius: 5px;
}

.top-header {
    background: none !important;
}

.bg_black {
    background: rgba(0, 0, 0, 0.49) !important;
}

.titulo {
    color: #12963C !important;
}

.logo {
    width: 25%;
}

.slide_text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lineas {
    height: 110px;
}

.contenido {
    background: #fff;
    width: 80%;
    border-radius: 10px;
    margin: 3% auto;
    z-index: 9;
    box-shadow: 0px 0 14px 0 rgb(0 0 0 / 30%);
    overflow: hidden;
    padding: 0 30px;
}

.padding_himno {
    padding-bottom: 10px;
    padding: auto;
}

.card-title {
    text-align: center;
    color: white;
}

.card-text {
    text-align: justify;
    color: black;
    font-weight: 500;
}

.himno {
    background-image: url("../images/fondoHimno.svg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.img_himno {
    width: 15%;
    margin-left: 8%;
}

.color_himno1 {
    background-color: #006633;
}

.color_himno2 {
    background-color: #FFD700;
}

.color_himno3 {
    background-color: #C5C5CD;
}

.imagenes-simbolos {
    width: 25% !important;
}

.center {
    text-align: center;
}
.center_img{
    align-items: center;
    text-align: center;
}
.full span {
    font-weight: bold;
    color: #006633;
    text-decoration: underline;
}

.bg-black {
    background-color: #000000;
    padding: 10px;
}

.footer_bottom {
    background-color: #12963C;
}

.color-fondo {
    background-color: rgba(196, 196, 196, 0.13);
    border-radius: 10px;
    width: 50%;
    margin: 0 10px;
    text-align: center;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.titulo-footer {
    color: #FFFF00 !important;
    text-decoration: none !important;
    font-weight: 400 !important;
}

.color-text {
    color: white;
}

.logo-footer {
    width: 70px;
    margin-right: 10px;
}

.modal-body {
    background: url("../images/fondoHimno.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}
.modal-body_contac {
    background: #12963C;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}

.carousel-item h5,
.carousel-item p {
    color: black;
}

.d-md-block {
    background: rgba(255, 255, 255, 0.507);
}

.text-just{
    text-align: justify;
}
.padding_cero{
    padding: 0;
}

.info_historia{
    display: flex;
    flex-wrap: nowrap;
}
.info_historia div{
    padding: 10px;
}

.tituloHistoria{
    color: black;
    font-size: 30px;
}
.img_histy{
    border: 2px solid black;
    border-radius: 0px 110px 0px 114px;
-moz-border-radius: 0px 110px 0px 114px;
-webkit-border-radius: 0px 110px 0px 114px;
border: 6px solid #818181;
}

.contenidoHistory{
    background: #ffffff63 !important;
    border-radius: 0px 0px 0px 132px;
-moz-border-radius: 0px 0px 0px 132px;
-webkit-border-radius: 0px 0px 0px 132px;
border: 9px solid #12963C;

}
.contenidoHistory p{
    color: #000000 !important;
    font-weight: 400;
    text-align: justify;
}

.header_tama{
    height: 500px !important;
}

.btn-color{
    background-color: #006633 !important;
}
.btn-color:hover{
    background-color: #ecf3f0 !important;

}