*{
    font-family:  Roboto, sans-serif;
    font-size: 30;
}

.government-description{
    text-align: justify;
}

/* .student-general{
    width: 350px;
    border: solid #000 2px;
} */

.student-general .student-card img{
    width: 315px;
}

.student-top{
    margin-top: -50px;
}

.student-name{
    margin: auto;
    /* width: 350px; */
    font-size: 20px;
    padding: 20px 2px;
    color: #fff;
    border-radius: 20px;
    background-color: #151296;
}

.student-component{
    /* margin-top: -40px; */
    background-color: #FFA800;
}